{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
<table>

    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.sujet, { attr: { class: 'form-control form-control-xl', placeholder: 'Sujet de Fromation ' }, size : 5  }) }}
            <td> {{ form_errors(form.sujet) }}</td>

        </div>
    </tr>

    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.description, { attr: { class: 'form-control form-control-xl', placeholder: 'Description de Formation' } }) }}
            <td> {{ form_errors(form.description) }}</td>

        </div>
    </tr>

    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.Difficulte, { attr: { class: 'form-control form-control-xl', placeholder: 'Difficulte Formation' } }) }}
            <td> {{ form_errors(form.Difficulte) }}</td>

        </div>
    </tr>

    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.duree, { attr: { class: 'form-control form-control-xl', placeholder: 'duree Formation' } }) }}
            <td> {{ form_errors(form.duree) }}</td>

        </div>
    </tr>

    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.prerequis, { attr: { class: 'form-control form-control-xl', placeholder: 'Prerequis Formation' } }) }}
            <td> {{ form_errors(form.prerequis) }}</td>

        </div>
    </tr>
    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.competences, { attr: { class: 'form-control form-control-xl', placeholder: 'Competences Formation' } }) }}
            <td> {{ form_errors(form.competences) }}</td>

        </div>
    </tr>

    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.examen, { attr: { class: 'form-control form-control-xl', placeholder: 'Nom Examen' } }) }}
            <td> {{ form_errors(form.examen) }}</td>

        </div>
    </tr>

    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.categorie, { attr: { class: 'form-control form-control-xl', placeholder: 'Categorie Formation' } }) }}
            <td> {{ form_errors(form.categorie) }}</td>

        </div>
    </tr>


</table>
<button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}