{% extends 'back_office/backbase.html.twig' %}

{% block title %}Formations{% endblock %}
{% block pageHeading %}
    <h1>Liste des Formations :</h1>
{% endblock %}
{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Idformation</th>
                <th>Sujet</th>
                <th>Description</th>
                <th>Difficulte</th>
                <th>Duree</th>
                <th>NomPre</th>
                <th>Nomcomp</th>
                <th>NomExam</th>
                <th>NomCat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.idformation }}</td>
                <td>{{ formation.sujet |length > 7 ? formation.sujet|slice(0, 35) ~ '...' : formation.sujet }}</td>
                <td>{{ formation.description |length > 7 ? formation.description|slice(0, 35) ~ '...' : formation.description }}</td>
                <td>{{ formation.difficulte }}</td>
                <td>{{ formation.duree }}</td>
                <td>{{ formation.prerequis |length > 7 ? formation.prerequis|slice(0, 35) ~ '...' : formation.prerequis }}</td>
                <td>{{ formation.competences }}</td>
                <td>{{ formation.examen }}</td>
                <td>{{ formation.categorie }}</td>
                <td>



                    <form id="my_form" method="post" action="{{ path('app_formation_show', {'idformation': formation.idformation}) }}" >
                        <a href="{{ path('app_formation_show', {'idformation': formation.idformation}) }}">
                            <span class="badge bg-primary">show</span>
                        </a>
                        <a href="{{ path('app_formation_edit', {'idformation': formation.idformation}) }}">
                            <span class="badge bg-success">edit</span>
                        </a>


                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~formation.idformation) }}">

                        <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
                    </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formation_new') }}">Create new Formation</a>


{% endblock %}
