{% extends 'back_office/backbase.html.twig' %}

{% block title %}
  Students::Dashboard
{% endblock %}
{% block pageHeading %}
  <h1>Details</h1>
{% endblock %}
{% block body %}
  <div class="card-body">
    <div class="flex-shrink-0">
      {% if user.getImage() %}
         <img style="width: 180px; border-radius: 10px;" src={{ asset('uploads/images/' ~ user.getImage()) }} alt="taswira">
      {% else %}
        <img style="width: 180px; border-radius: 10px;" src="back/assets/images/faces/2.jpg" alt="taswira" />
      {% endif %}
    </div>
    <br />
    <table class="table table-striped" id="table1">
      <tbody>
        <tr>
          <th>Nom</th>
          <td>{{ user.nom }}</td>
        </tr>
        <tr>
          <th>Prenom</th>
          <td>{{ user.prenom }}</td>
        </tr>
        <tr>
          <th>Username</th>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>

        <tr>
          <th>Role</th>
          <td>{{ user.role }}</td>
        </tr>

        <tr>
          <th>Date_naissance</th>
          <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
          <th>Approved</th>
          <td>{{ user.approved ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>

    <a href="{{ path('app_user_indexStudent') }}">back to list</a>

    <a href="{{ path('app_user_edit', { id: user.id }) }}">edit</a>

    {{ include('back_office/Students/_delete_form.html.twig') }}
  </div>
{% endblock %}
