
{#
{% extends 'base.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
    <h1>Participation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idparticipation</th>
                <th>User</th>
                <th>Formation</th>
                <th>Resultat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.idparticipation }}</td>
                <td>{{ participation.user.getNom() }}</td>
                <td>{{ participation.formation.getSujet() }}</td>

                <td>{{ participation.resultat }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'idparticipation': participation.idparticipation}) }}">show</a>
                    <a href="{{ path('app_participation_edit', {'idparticipation': participation.idparticipation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participation_new') }}">Create new</a>
{% endblock %}


#}


{% extends 'back_office/backbase.html.twig' %}

{% block title %}Examens
{% endblock %}
{% block pageHeading %}
    <h1>Liste des Participations :</h1>
    <a href="{{ path('app_participation_new') }}">
        <span class=" btn btn-primary  btn-lg shadow-lg  ">Ajouter une participation </span>
    </a>
{% endblock %}
{% block body %}


    <div class="card-body">
        <table class="table table-striped" id="table1">
            <thead>
            <tr>

                <th>Idparticipation</th>
                <th>User</th>
                <th>Formation</th>
                <th>Resultat</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for participation in participations %}
                <tr>

                    <td>{{ participation.idparticipation }}</td>
                    <td>{{ participation.user.getNom() }}</td>
                    <td>{{ participation.formation.getSujet() }}</td>

                    <td>{{ participation.resultat }}</td>

                    <td>
                        <form id="my_form" method="post" action="{{ path('app_participation_show', {'idparticipation': participation.idparticipation})}}" >
                            <a href="{{ path('app_participation_show', {'idparticipation': participation.idparticipation}) }}">
                                <span class="badge bg-primary">show</span>
                            </a>
                            <a href="{{ path('app_participation_edit', {'idparticipation': participation.idparticipation}) }}">
                                <span class="badge bg-success">edit</span>
                            </a>


                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participation.idparticipation) }}">

                            <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
                        </form>


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}


