{% extends 'front_office/blogbase.html.twig' %}

{% block title %}
  Post
{% endblock %}

{% block body %}
  <h1>Post</h1>
  <div class="row">
    <div class="col-11 col-lg-11 col-md-11">
      <div class="card">
        <div class="card-body px-4 py-4-5">
          <div class="row">
            <div class="col-md-2 d-flex justify-content-start">
              <div class="mb-2">
                <img src="{{ asset('uploads/images/' ~ post.user.getImage()) }}" alt="taswira" style="width: 150px; height: 150px; border-radius:50%" />
              </div>
            </div>

            <div class="col-md-7 col-lg-7 col-xl-7 col-xxl-7">
              <h4 class="font-bold">{{ post.posttitle }}</h4>
              <p class="text-muted font-italic">@{{ post.user.getUserIdentifier() }}</p>
              <i class="bi bi-calendar-week-fill"></i>
              <h6 class="text-muted">{{ post.postdate ? post.postdate|date('Y-m-d H:i') : '' }}</h6>
              <h6 class="text-muted">{{ post.category.getCategoryname() }}</h6>
            </div>
            <div class="col-md-3">
            {% if app.user.getId() == post.user.getId()%}
              <a href="{{ path('app_post_edit', { postid: post.postid }) }}"><span class="badge bg-success">edit</span></a>

              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.postid) }}" />
              {{ include('back_office/post/_delete_form.html.twig') }}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start">
              <div class="mb-2">
                <h5 class="font-semibold">{{ post.postcontent|raw }}</h5>
                <i class="bi bi-chat-dots-fill"></i>
                {{ post.postnbcom }} <br /> <i class="bi bi-arrow-down-up"></i>{{ post.postvote }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      {# ddddddd #}
      <div class="card">
        {% for comment in comments %}
          <div class="card mb-3">
            <div class="card-body px-4 py-4-5">
              <div class="row">

                <div class="col-12 ">
                  <div class="d-flex  justify-content-end">


                    <div class="">
                      <img src="{{ asset('uploads/images/' ~ comment.user.getImage()) }}" alt="taswira"
                           style="border-radius: 50%;height: 50px;width: 50px"/>

                    </div>
                    <div class="ml-5">
                      <div style="margin-bottom: -17px">
                        <h5>{{ comment.user.getNom() }} {{ comment.user.getPrenom() }}</h5></div>
                      <div style="margin-top: -17px"><h6 class="text-muted">
                          @{{ comment.user.getUsername() }}</h6></div>
                      <div><h6 class="text-muted">{{ comment.commentdate|date("m/d/y H:m") }}</h6></div>
                    </div>


                    <div class="ml-auto p-2">
                      <div class="d-flex flex-column">
                        <div><a href="{{ path('app_comment_like',{ commentid: comment.commentid})}}"><i
                                    class="fa fa-arrow-up" aria-hidden="true"></i></a></div>
                        <div style="margin-bottom: -13px"><h4>{{ comment.commentvote }}</h4></div>
                        <div><a href="{{ path('app_comment_dislike', { commentid: comment.commentid }) }}"><i
                                    class="fa fa-arrow-down" aria-hidden="true"></i></a></div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex  justify-content-end">


                    <div class="">
                      <h4 >{{ comment.commentcontent }}</h4>
                    </div>


                    <div class="ml-auto p-2">
                      {% if comment.user.getId()==app.user.getId() %}

                        <form id='my_form' method="post"
                              action="{{ path('app_comment_delete', {'commentid': comment.commentid}) }}"
                              onsubmit="return confirm('Are you sure you want to delete this item?');">
                          <div class="d-inline">
                            <a href="{{ path('app_comment_edit', {commentid: comment.commentid }) }}"><i
                                      class="fa fa-pencil" aria-hidden="true"></i></a>
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('delete' ~ comment.commentid) }}">
                            <a href="#" onclick="document.getElementById('my_form').submit();"
                               class="text-danger"><i class="fa fa-trash"
                                                      aria-hidden="true"></i></a>
                          </div>

                        </form>


                      {% endif %}
                    </div>

                  </div>




                </div>

              </div>
            </div>
          </div>
          <hr />
        {% else %}
          <div class="card-body px-4 py-4-5">
            <div class="row">
              <div class="col-md-5 d-flex justify-content-start">
                <div class="mb-5">
                  <h5 class="text-muted">No comments Yet</h5>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>


























      <div class="mb-2">
        <a href="{{ path('app_comment_new') }}"><span class="btn btn-primary btn-lg shadow-lg">Ajouter un commentaire</span></a>
      </div>
    </div>
  </div>
{% endblock %}
