{% extends 'back_office/backbase.html.twig' %}

{% block title %}CATEGORY LIST{% endblock %}



{% block body %}
    <h1>Category index</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert succ">{{ message }}</div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Categoryid</th>
                <th>Categoryname</th>
                <th>Categoryimage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.categoryid }}</td>
                <td>{{ category.categoryname }}</td>
                <td> <img src={{ asset('uploads/images/' ~ category.getCategoryimage()) }} alt="taswira" width="200"
                          height="100"></td>
                <td>
                    <a href="{{ path('app_category_show', {'categoryid': category.categoryid}) }}">show</a>
                    <br>
                    <a href="{{ path('app_category_edit', {'categoryid': category.categoryid}) }}">edit</a>
                    <br>
                    <a href="{{ path('app_category_delete', {'categoryid': category.categoryid}) }}"> delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
