{{ form_start(form) }}
<div class="col-sm-10">
{% if form_errors(form.typeEvenement) %}
<div class="alert alert-danger">
        {{ form_errors(form.typeEvenement) }}
    </div>
    {% endif %}
{{ form_widget(form.typeEvenement, { attr: { class: 'form-control form-control-xl', placeholder: 'Event Categoty' }}) }}
      
      </div>

<button class="btn btn-primary shadow-lg mt-5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}




