{% extends 'back_office/backbase.html.twig' %}

{% block title %}
  Event Categories
{% endblock %}
{% block pageHeading %}
  <h1>Event Categories</h1>
{% endblock %}
{% block body %}
<div class="card-body">
 <a href="{{ path('app_categorie_ev_new') }}"><span class="badge bg-success">+</span></a>
</div>
  <div class="card-body">
    <table class="table table-striped" id="table1">
              <table class="table table-striped">
                <thead>
                  <tr>
                <th>TypeEvenement</th>
                <th>actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for categorie_ev in categorie_evs %}
            <tr>
                <td>{{ categorie_ev.typeEvenement }}</td>
                <td>
                
               
                <button class="badge bg-success" href="{{ path('app_categorie_ev_show', { id: categorie_ev.id }) }}">Edit</button>

                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_ev.id) }}" />

              {{ include('categorie_ev/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
                </tbody>
              </table>
    </div>
{% endblock %}
