{% extends 'back_office/backbase.html.twig' %}

{% block title %}
  Evenement
{% endblock %}

{% block body %}
  <h1>Evenement</h1>

  <table class="table">
    <tbody>
      <tr>
        <td>
          <img src="{{ asset('uploads/images/' ~ evenement.getImage()) }}" alt="taswira" width="200" height="100" />
        </td>
      </tr>
      <tr>
        <th>NomEvenement</th>
        <td>{{ evenement.nomEvenement }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ evenement.description }}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
      </tr>
      <tr>
        <th>EtatEvenement</th>
        <td>{{ evenement.etatEvenement }}</td>
      </tr>
    </tbody>
  </table>

  <a class="badge bg-success" href="{{ path('app_evenement_edit', { id: evenement.id }) }}">edit</a>

  {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
