

<div class="section-area section-sp2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-bx">
        <h2 class="title-head m-b0">
          Upcoming
          <span>Events</span>
        </h2>
        <p class="m-b0">Upcoming Education Events To Feed Brain.</p>
      </div>
    </div>
    <div class="row">
    
      <div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0 m-b30">
        {% for evenement in evenements %}
        <div class="item">
       
          <div class="event-bx">
            <div class="action-box">
              
            </div>
            <div class="info-bx d-flex">
              <div>
                <div class="event-time">
                  <img style="width:70px ;" src={{ asset('uploads/images/' ~ evenement.getImage()) }} alt="taswira">
                </div>
              </div>
              <div class="text-center">
      <a href="{{ path('app_reservation_newRes', {'idEv': evenement.id}) }}" class="btn">Reserver</a>
    </div>
              <div class="event-info">
                <h4 class="event-title"><a href="#">{{ evenement.nomEvenement }}</a></h4>
                <ul class="media-post">
                  <li>
                    <a href="#">
                      <i class="fa fa-clock-o"></i>
                      {{ evenement.date ? evenement.date|date('H:i:s') : '' }}
                    </a>
                  </li>
                  
                </ul>
                <p>{{ evenement.description }}</p>
              </div>
            </div>
          </div>
        </div>






   {% endfor %}

        
      </div>
       




       
    </div>
 
    <div class="text-center">
      <a href="{{ path('app_evenement_new') }}" class="btn">Add Event</a>
    </div>
     
  </div>
</div>
        
