<div class="section-area section-sp2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading-bx left">
        <h2 class="title-head">
          Recent
          <span>News</span>
        </h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
      </div>
    </div>

    <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
      {% for post in postss %}
      <div class="item">
        <div class="recent-news">
          <div class="action-box">
            <img src="front/assets/images/blog/latest-blog/pic1.jpg" alt="" />
          </div>
          <div class="info-bx">
            <ul class="media-post">
              <li>
                 <a href="#"><i class="fa fa-calendar"></i>{{ post.postdate ? post.postdate|date('Y-m-d ') : '' }}  </a>

              </li>
              <li>
                <a href="#"><i class="fa fa-user"></i>{{ post.user.nom }} {{ post.user.prenom }}</a>

              </li>
            </ul>
            <h5 class="post-title"><a href="blog-details.html">{{ post.posttitle }}</a></h5>
            <p >{{ post.postcontent |length > 35 ? post.postcontent|slice(0, 35) ~ '...' : post.postcontent }}</p>
            <div class="post-extra">
              <a href="#" class="btn-link">READ MORE</a>
              <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20 Comment</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
