<header class="header rs-nav header">
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="topbar-left">
                    <ul>
                        <li>
                            <a href="faq-1.html"><i class="fa fa-question-circle"></i>Ask a Question</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-envelope-o"></i>Support@website.com</a>
                        </li>
                    </ul>
                </div>
                <div class="topbar-right">
                    {% if app.user %}
                        <ul>
                            <li>Welcome {{ app.user.getNom() }} {{ app.user.getPrenom() }}</li>
                            <li>
                                <a href="{{ path('app_logout') }}">Logout</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul>
                            <li>
                                <a href="{{ path('app_login') }}">Login</a>
                            </li>
                            <li>
                                <a href="/register">Register</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="sticky-header navbar-expand-lg">
        <div class="menu-bar clearfix">
            <div class="container clearfix">
                <!-- Header Logo ==== -->
                <div class="menu-logo">
                    <a href="/"><h3>E-lMadrsa</h3></a>
                </div>
                <!-- Mobile Nav Button ==== -->
                <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- Author Nav ==== -->
                <div class="secondary-menu">
                    <div class="secondary-inner">
                        <ul>
                            <li>
                                <a href="javascript:;" class="btn-link"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="btn-link"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="btn-link"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <!-- Search Button ==== -->
                            <li class="search-btn">
                                <button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Search Box ==== -->
                <div class="nav-search-bar">
                    <form action="#">
                        <input name="search" value="" type="text" class="form-control" placeholder="Type to search" />
                        <span><i class="ti-search"></i></span>
                    </form>
                    <span id="search-remove"><i class="ti-close"></i></span>
                </div>
                <!-- Navigation Menu ==== -->
                <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                    <div class="menu-logo">
                        <a href="index.html"><img src="{{ asset('front/assets/images/logo.png') }}" alt="" /></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="javascript:;">
                                Home
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">Home 1</a>
                                </li>
                                <li>
                                    <a href="index-2.html">Home 2</a>
                                </li>
                            </ul>
                        </li>






                        <li class="active">
                            <a href="javascript:;">
                                Examens
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="sub-menu">

                                <li>
                                    <a href="{{ path('app_examen_listt')}}">Examen </a>
                                </li>

                                <li>
                                    <a href="{{ path('app_reclamations_add')}}">Ajouter une reclamation</a>
                                </li>

                                <li>
                                    <a href="{{ path('app_profil')}}">mon profil </a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                    <div class="nav-social-link">
                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                        <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!-- Navigation Menu END ==== -->
            </div>
        </div>
    </div>

</header>

