{% extends 'base.html.twig' %}

{% block title %}Prerequis index{% endblock %}

{% block body %}
    <h1>Prerequis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idprerequis</th>
                <th>Nomprerequis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prerequi in prerequis %}
            <tr>
                <td>{{ prerequi.idprerequis }}</td>
                <td>{{ prerequi.nomprerequis }}</td>
                <td>
                    <a href="{{ path('app_prerequis_show', {'idprerequis': prerequi.idprerequis}) }}">show</a>
                    <a href="{{ path('app_prerequis_edit', {'idprerequis': prerequi.idprerequis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prerequis_new') }}">Create new</a>
{% endblock %}
