{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

<table>
    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.badgetype, { attr: { class: 'form-control form-control-xl', placeholder: 'badgetype ' } }) }}

            <td>{{ form_errors(form.badgetype) }}</td>
        </div>
    </tr>
    <tr>
        <div class="form-group position-relative has-icon-left mb-4">
            {{ form_widget(form.badgeimage, { attr: { class: 'form-control form-control-xl', placeholder: 'image  ' } }) }}


        </div>
    </tr>

</table>


<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


