{% extends 'back_office/backbase.html.twig' %}

{% block title %}
    Users::Dashboard
{% endblock %}
{% block pageHeading %}
    <h1>{{ heading }}</h1>
{% endblock %}
{% block body %}
    <div class="card-body">
        <table class="table table-striped" id="table1">
            <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Username</th>
                <th>Email</th>

                <th>Date_naissance</th>

                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <div class="avatar avatar-xl">
                            {% if user.getImage() %}
                                <img src={{ asset('uploads/images/' ~ user.getImage()) }} alt="taswira">
                            {% else %}
                                <img src="back/assets/images/faces/2.jpg" alt="taswira" />
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>

                    <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>

                    <td>
                        <form id="my_form" method="post" action="{{ path('app_user_delete', { id: user.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <a href="{{ path('app_user_show', { id: user.id }) }}"><span class="badge bg-primary">show</span></a>
                            <a href="{{ path('app_user_edit', { id: user.id }) }}"><span class="badge bg-success">edit</span></a>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}" />
                            <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_user_newTutor') }}">Create new</a>
    </div>
{% endblock %}
