{% extends 'back_office/backbase.html.twig' %}

{% block title %}Reclamation index{% endblock %}
 {% block pageHeading %}
<h1>Liste des Réclamations :</h1>
<a href="{{ path('app_reclamation_new') }}">
    <span class=" btn btn-primary  btn-lg shadow-lg  ">Ajouter une réclamation </span>
</a>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Idreclamation</th>
                <th>Sujet</th>
                <th>Description</th>
                <th>Daterec</th>
                <th>Iduser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idreclamation }}</td>
                <td>{{ reclamation.sujet }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.iduser }}</td>
                <td>
                    <form id="my_form" method="post" action="{{ path('app_reclamation_show', {'idreclamation': reclamation.idreclamation }) }}" >
                        <a href="{{ path('app_reclamation_show', {'idreclamation': reclamation.idreclamation }) }}">
                            <span class="badge bg-primary">show</span>
                        </a>
                        <a href="{{ path('app_reclamation_edit', {'idreclamation': reclamation.idreclamation}) }}">
                            <span class="badge bg-success">edit</span>
                        </a>


                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.idreclamation) }}">

                        <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
