
{% extends 'front_office/base2.html.twig' %}

{% block title %} exams list{% endblock %}


{% block filtrage %}

    <h3> choisir un examen selon un catégorie  :</h3>

    <table>

    </table>


    <select class="form-control" id="">
        {% set selected =0  %}

        {% for i in categories %}

            <option value="{{i.idcategorie}} " {{ selected}} >{{i}}</option>


        {% endfor %}
    </select>
    <button><a href= "{{ path('app_examen_listtbycategorie',{id:selected}) }}" > chercher par categorie </a></button>
    <button><a href= "{{ path('app_examen_listt') }}" > tous les examens </a></button>
{{ selected }}


{% endblock %}


{% block body %}


    {% for i in examens %}
              <div class="card" style="max-width: 250px ;    margin: 10px;
">
               {#<img class="card-img-top" src="" alt="Card image cap"> #}
                <div class="card-body">
                    <h5 class="card-title">{{ i.nomexamen }}</h5>
                    <p class="card-text"> title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Passer l'examen</a>
                </div>
                   </div>
      {% endfor %}

{% endblock %}