{% extends 'front_office/SecondBase.html.twig' %}



{#
{% block filtrage %}
   <div style="margin: 50px;">
    <h3> choisir un examen selon un catégorie  :</h3>

<select class="">
    <div class="form-control" id="">
        {% set selected =0  %}

        {% for i in categories %}

            <option value="{{i.idcategorie}} >{{i}}</option>

        {% endfor %}
    </div>
</select>

     <button class="btn" >   <a href= "{{ path('app_examen_listtbycategorie',{id:2}) }}" /> chercher par categorie </a></button>
    <button class="btn" ><a href= "{{ path('app_examen_listt') }}" > tous les examens </a></button>



{% endblock %}
#}
{% block slidestitle %} Nos examens {% endblock %}

            {% block leftslide %}


                {% include('front_office/components/leftsidebar.html.twig') %}

            {% endblock %}

{% block body %}



    {% for i in examens %}

        <div class="col-md-6 col-lg-4 col-sm-6 m-b30">
            <div class="cours-bx">
                <div class="action-box">
                    <img src="{{ asset('front/assets/images/courses/pic1.jpg') }}" alt="">
                    <a href="{{ path('app_examen_show_front' , {idexamen:i.idexamen}) }}" class="btn">Voir Examen</a>
                </div>
                <div class="info-bx text-center">
                    <h5><a href="#">{{ i.nomexamen }}</a></h5>

                </div>
                <div class="cours-more-info">
                    <div class="review">
                        <span>3 Review</span>
                        <ul class="cours-star">
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="price">

                        <h5 style="margin-top: 17px;">{{ i.dureeexamen }} min</h5>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>
{% endblock %}