
{% extends 'back_office/backbase.html.twig' %}

{% block title %}Examens
{% endblock %}
{% block pageHeading %}
    <h1>Liste des Examens :</h1>
    <a href="{{ path('app_examen_new') }}">
        <span class=" btn btn-primary  btn-lg shadow-lg  ">Ajouter un examen</span>
    </a>
{% endblock %}
{% block body %}


    <div class="card-body">
        <table class="table table-striped" id="table1">
            <thead>
            <tr>

               {# <th>Idexamen</th>#}
                <th>Nomexamen</th>
                <th>Pourcentage</th>
                <th>Dureeexamen</th>
                <th>Formation</th>
                <th>categorie</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for examan in examens %}
                <tr>

                    {# <td>{{ examan.idexamen }}</td> #}
                    <td>{{ examan.nomexamen }}</td>
                    <td>{{ examan.pourcentage }}</td>
                    <td>{{ examan.dureeexamen }}</td>
                    <td>{{ examan.formation.getSujet() }}</td>
                    <td>{{ examan.categorie.getNomcategorie() }}</td>


                    <td>
                        <form id="my_form" method="post" action="{{ path('app_examen_show', {'idexamen': examan.idexamen}) }}" >
                            <a href="{{ path('app_examen_show', {'idexamen': examan.idexamen}) }}">
                                <span class="badge bg-primary">show</span>
                            </a>
                            <br>
                            <a href="{{ path('app_examen_edit', {'idexamen': examan.idexamen}) }}">
                                <span class="badge bg-success">edit</span>
                            </a>
                            <br>


                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examan.idexamen) }}">

                            <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
                        </form>


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}













