{% extends 'back_office/backbase.html.twig' %}


{% block title %}Post list{% endblock %}

{% block pageHeading %}
    <h1>Liste des publications :</h1>
    <a href="{{ path('app_post_new')}}">
        <span class=" btn btn-primary  btn-lg shadow-lg  ">Ajouter une publication</span>
    </a>
{% endblock %}

{% block body %}




    <table class="table">
        <thead>
            <tr>
                <th>Postid</th>
                <th>Posttitle</th>
                <th>Postcontent</th>
                <th>Userid</th>
                <th>Categoryid</th>
                <th>Postvote</th>
                <th>Postnbcom</th>
                <th>Postdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.postid }}</td>
                <td>{{ post.posttitle }}</td>
                <td>{{ post.postcontent }}</td>
                <td>{{ post.user.getNom() }}</td>
                <td>{{ post.category.getCategoryname() }}</td>
                <td>{{ post.postvote }}</td>
                <td>{{ post.postnbcom }}</td>
                <td>{{ post.postdate ? post.postdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>







                    <form id="my_form" method="post" action="{{ path('app_post_delete', { postid: post.postid }) }}">
                        <a href="{{ path('app_post_show', { postid: post.postid }) }}"><span class="badge bg-primary">show</span></a>

                        <a href="{{ path('app_post_edit', { postid: post.postid }) }}"><span class="badge bg-success">edit</span></a>

                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.postid) }}" />

                        <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
                    </form>



                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}







