{% extends 'base.html.twig' %}

{% block title %}Tutorshipsessions index{% endblock %}

{% block body %}
    <h1>Tutorshipsessions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idsession</th>
                <th>Idstudent</th>
                <th>Idtutor</th>
                <th>Idrequest</th>
                <th>Url</th>
                <th>Type</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tutorshipsession in tutorshipsessions %}
            <tr>
                <td>{{ tutorshipsession.idsession }}</td>
                <td>{{ tutorshipsession.idstudent }}</td>
                <td>{{ tutorshipsession.idtutor }}</td>
                <td>{{ tutorshipsession.idrequest }}</td>
                <td>{{ tutorshipsession.url }}</td>
                <td>{{ tutorshipsession.type }}</td>
                <td>{{ tutorshipsession.date ? tutorshipsession.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tutorshipsessions_show', {'idsession': tutorshipsession.idsession}) }}">show</a>
                    <a href="{{ path('app_tutorshipsessions_edit', {'idsession': tutorshipsession.idsession}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tutorshipsessions_new') }}">Create new</a>
{% endblock %}
