{% extends 'back_office/backbase.html.twig' %}

{% block title %}
  Requests
{% endblock %}
{% block pageHeading %}
  <h1>Tutorship Requests</h1>
{% endblock %}
{% block body %}
  <div class="card-body">
    <table class="table table-striped" id="table1">
        <tbody>
            
            <tr>
                <th>Tutor</th>
                <td>{{ request.idtutor.nom }}</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>{{ request.idstudent.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ request.type }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ request.body }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ request.date ? request.date|date('Y-m-d H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>
  </div>

    <form id="my_form" method="post" action="{{ path('app_requests_delete', { id: request.id }) }}">
                <a href="{{ path('app_requests_approve', { id: request.id }) }}"><span class="badge bg-success">Approve</span></a>
                <a href="{{ path('app_requests_edit', { id: request.id }) }}"><span class="badge bg-success">edit</span></a>

                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ request.id) }}" />

                <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
              </form>
{% endblock %}
