{% extends 'back_office/backbase.html.twig' %}

{% block title %}
  Requests
{% endblock %}
{% block pageHeading %}
  <h1>Tutorship Requests</h1>
{% endblock %}
{% block body %}
  <div class="card-body">
    <table class="table table-striped" id="table1">
        <tbody>
            
            <tr>
                <th>Tutor</th>
                <td>{{ request.idtutor.nom }}</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>{{ request.idstudent.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ request.type }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ request.body }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ request.date ? request.date|date('Y-m-d H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>
  </div>
    <a href="{{ path('app_requests_index') }}">back to list</a>

    <a href="{{ path('app_requests_edit', {'id': request.id}) }}">edit</a>

    {{ include('back_office/requests/_delete_form.html.twig') }}
{% endblock %}
