{% extends 'base.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <h1>Messages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idmessage</th>
                <th>Idsession</th>
                <th>Idsender</th>
                <th>Body</th>
                <th>Statusdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.idmessage }}</td>
                <td>{{ message.idsession }}</td>
                <td>{{ message.idsender }}</td>
                <td>{{ message.body }}</td>
                <td>{{ message.statusdate ? message.statusdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_messages_show', {'idmessage': message.idmessage}) }}">show</a>
                    <a href="{{ path('app_messages_edit', {'idmessage': message.idmessage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_messages_new') }}">Create new</a>
{% endblock %}
