{% extends 'back_office/backbase.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Postid</th>
                <td>{{ post.postid }}</td>
            </tr>
            <tr>
                <th>Posttitle</th>
                <td>{{ post.posttitle }}</td>
            </tr>
            <tr>
                <th>Postcontent</th>
                <td>{{ post.postcontent }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ post.user.getId() }}</td>
            </tr>
            <tr>
                <th>Categoryid</th>
                <td>{{ post.category.getCategoryid() }}</td>
            </tr>
            <tr>
                <th>Postvote</th>
                <td>{{ post.postvote }}</td>
            </tr>
            <tr>
                <th>Postnbcom</th>
                <td>{{ post.postnbcom }}</td>
            </tr>
            <tr>
                <th>Postdate</th>
                <td>{{ post.postdate ? post.postdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">back to list</a>
    <br>

    <a href="{{ path('app_post_edit', {'postid': post.postid}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
