<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{{ asset('front/assets/images/favicon.ico') }}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('front/assets/images/favicon.png') }}" />

    <!-- PAGE TITLE ============================================= -->
    <title>
      {% block title %}
        Dashboard
      {% endblock %}
    </title>

    {% block body %}

    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/assets.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendors/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/typography.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/shortcodes/shortcodes.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/style.css') }}" />
    <link class="skin" rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/color/color-1.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendors/revolution/css/layers.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendors/revolution/css/settings.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendors/revolution/css/navigation.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/jquery.emojipicker.css') }}" />
    

    <!-- Emoji Data -->
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/jquery.emojipicker.tw.css') }}" />

	
  </head>

  <body id="bg">
    <div class="page-wraper">
      {% include 'front_office/components/navbar.html.twig' %}

      <div class="page-content bg-white">
        {% include 'front_office/components/header.html.twig' %}
        <div class="content-block">
          {% include 'front_office/components/carroussel.html.twig' %}
          {# {%include('front_office/components/course.html.twig') %} #}
          {% include 'front_office/components/form.html.twig' %}
          {% include 'front_office/components/event.html.twig' %}
          {% include 'front_office/components/testimonial.html.twig' %}
          {% set postss = posts %}
          {% include 'front_office/components/post.html.twig' with { postss: postss } only %}
        </div>
        {% include 'front_office/components/footer.html.twig' %}
        {% include 'front_office/components/chat.html.twig' %}
      </div>
      {% include 'front_office/components/scripts.html.twig' %}
    </div>
  </body>
</html>
