{% extends 'back_office/backbase.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcategorie</th>
                <th>Nomcategorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idcategorie }}</td>
                <td>{{ categorie.nomcategorie }}</td>
                <td>


                    <form id="my_form" method="post" action="{{ path('app_categorie_show', {'idcategorie': categorie.idcategorie}) }}" >
                        <a href="{{ path('app_categorie_show', {'idcategorie': categorie.idcategorie}) }}">
                            <span class="badge bg-primary">show</span>
                        </a>
                        <a href="{{ path('app_categorie_edit', {'idcategorie': categorie.idcategorie}) }}">
                            <span class="badge bg-success">edit</span>
                        </a>


                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~categorie.idcategorie) }}">

                        <a href="#" class="badge bg-danger" onclick="document.getElementById('my_form').submit();">Delete</a>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
